{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" style="margin-left:10%; margin-right:10%; margin-top: 2%;">
    <div class="row" style="width: 50%; ">
        <img src="{% static 'arnold.png' %}" style="width:100%;height:auto">
    </div>
    <div class="list-group row" style="width:50%; height:100%;">
        <a href="{% url 'workouts' %}" class="list-group-item list-group-item-action" style="height: 130px; ">
            <div class="" style="text-align: center;
            vertical-align: middle;
            line-height: 90px;">
                <h3 style="padding-top: 40px;">Workouts</h3>
            </div>
        </a>
        <a href="{% url 'exercises' %}" class="list-group-item list-group-item-action " style="height: 130px;">
            <div class="" style="text-align: center;
            vertical-align: middle;
            line-height: 90px;">
                <h3 class="mb-1" style="padding-top: 40px;">Exercises</h3>
            </div>
            
        </a>
        <a href="{% url 'quiz' %}" class="list-group-item list-group-item-action " style="height: 130px;">
            <div class="" style="text-align: center;
            vertical-align: middle;
            line-height: 90px;">
                <h3 class="mb-1" style="padding-top: 40px;">Quiz</h3>
            </div>
           
        </a>
        
    </div>
    <figure class="text-center" style="margin-top: 30px;">
        <blockquote class="blockquote" style="font-size: 30px;">
          <p>The meaning of life is not simply to exist, to survive, but to move ahead, to go up, to conquer.</p>
        </blockquote>
        <figcaption class="blockquote-footer" style="font-size:20px">
            Arnold Schwarzenegger, 7-time Mr Olympia</cite>
        </figcaption>
      </figure>
    
</div>
{% endblock %}