{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row" style="margin-left:10%; margin-right:10%; margin-top: 2%; padding-bottom: 20px;">
    <div class="col" style="width:50%">
    <form method="post" action="{% url 'quiz' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit answers</button>
    </form></div>
    <div class="col" style="width:50%">
        <img style="width:100%"src="{% static 'Back.webp' %}">
        
    </div>
</div>


{% endblock %}